<form action="">
  <p class="title">Auth</p>
  <p class="description">
    Account missing?
    <span class="nes-text is-primary sign-up" (click)="openDialogSighUp()"> Create! </span>
  </p>
  <div class="nes-field">
    <label for="email">Email</label>
    <input type="email" id="email" class="nes-input" name="login" [(ngModel)]="loginForm.email" />
  </div>

  <div class="nes-field">
    <label for="password">Password</label>
    <input type="password" id="password" class="nes-input" name="password" [(ngModel)]="loginForm.password" />
  </div>

  <div class="buttons">
    <button class="nes-btn" (click)="closeDialog()"> Cancel </button>
    <button type="submit" class="nes-btn is-primary"> Sign in </button>
  </div>

</form>
