<div class="container-center header">
  <div class="content">
    <a href="" class="home_link">
      <h3>
        Pixel Code
      </h3>
    </a>
    <nav>
      <ul class="menu">
        <li><a href="" class="nes-text is-primary">Home</a></li>
        <li><a [routerLink]=" 'calc' " class="nes-text is-primary">Calculator</a></li>
        <li><a [routerLink]=" 'timer' " class="nes-text is-primary">Timer</a></li>
        <li><a class="nes-text is-primary auth-btn" (click)="openAuthDialog()">Sing in</a></li>
        <li><a class="nes-text is-primary auth-btn" (click)="openRegisterDialog()">Sign up</a></li>
      </ul>
    </nav>
  </div>
</div>
