:host {
    display: block;
    width: 460px;

    .title {
        margin-bottom: 1rem;        
    }

    .nes-field {
        margin-bottom: 1rem;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}