@import "app/variables-styles/color";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: $text;
  background: $brow-white;

  .container {
    width: 1024px;
  }

  .container-center {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
